/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 240px) 
 and (max-width : 400px){
	nav{
		display: none;
	}
	.main_background{
		display: none;
	}
	.mobile_background{
		width: 100%;
	}
	.mobile_homeImage{
		width: 60%;
		margin-top: 22%;
		margin-left: 3%;
	}
	.first_title{
		text-align: right;
		font-size: 30px;
		width: 320px;
		font-weight: 400;
		margin: 0;
		margin-right: 5px;
	}

	.first_subtitle{
    text-align: right;
    font-size: 17px;
    width: 200px;
    margin-left: 120px;
    font-weight: 100;
	}
	.main-buttons{
		display: none;
	}
	.homePage{
		display: none;
	}



	.Number_1{
		width: 95%;
		margin-top: 20%;

	}
	.Number_1_text{
		font-size: 14px;
		width: 100%;
		margin-top: 40%;

	}

	.Number_2{
		width: 60%;
		margin-top: 12%;
		margin-left: 30%;
	}
	.Number_2_text{
		font-size: 14px;
		width: 82%;
		margin-left: 0;
		text-align: left;
		margin-left: 15%;

	}

	.Number_3{
		width: 75%;
		margin-top: 55%;
	}
	.Number_3_text{
    font-size: 14px;
    width: 124px;
    margin-left: 0;
    margin-top: 30%;

	}
	.Number_4{
		width: 75%;
		margin-top: 35%;
		margin-left: 10%;

	}
	.Number_4_text{
		font-size: 14px;
		width: 82%;
		margin-left: 15%;
		margin-top: 55%;

	}
	.Download_text_1{
		margin: 0;
		margin-top: 30%;
		font-size: 30px;
	}
	.Download_text_2{
		font-size: 20px;
	}
	.download_buttons_img{
		width: 60%;
		margin-top: 0;
	}
	.download_buttons{
		margin-top: 10%;
		margin-bottom: 10%;

	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 401px) 
and (max-width : 480px){
	nav{
		display: none;
	}
	.main_background{
		display: none;
	}
	.mobile_background{
		width: 100%;
	}
	.mobile_homeImage{
		width: 60%;
		margin-top: 22%;
		margin-left: 3%;
	}
	.first_title{
		text-align: right;
		font-size: 28px;
		width: 70%;
		font-weight: 400;
		margin: 0;
		margin-left: 25%;
		margin-right: 0;
	}

	.first_subtitle{
		text-align: right;
		font-size: 18px;
		width: 55%;
		font-weight: 100;
		margin-left: 40%;
		margin-right: 0;
	}
	.main-buttons{
		display: none;
	}
	.homePage{
		display: none;
	}



	.Number_1{
		width: 90%;
		margin-top: 20%;

	}
	.Number_1_text{
		font-size: 15px;
		width: 100%;
		margin-top: 40%;

	}

	.Number_2{
		width: 70%;
		margin-top: 10%;
		margin-left: 30%;
	}
	.Number_2_text{
		font-size: 15px;
		width: 82%;
		margin-left: 0;
		text-align: left;
		margin-left: 15%;

	}

	.Number_3{
		width: 85%;
		margin-top: 35%;
	}
	.Number_3_text{
		font-size: 15px;
		width: 82%;
		margin-left: 0;
		margin-top: 30%;

	}
	.Number_4{
		width: 85%;
		margin-top: 30%;
		margin-left: 10%;

	}
	.Number_4_text{
		font-size: 15px;
		width: 82%;
		margin-left: 15%;
		margin-top: 55%;

	}
	.Download_text_1{
		margin: 0;
		margin-top: 30%;
		font-size: 30px;
	}
	.Download_text_2{
		font-size: 20px;
	}
	.download_buttons_img{
		width: 60%;
		margin-top: 0;
	}
	.download_buttons{
		margin-top: 10%;
		margin-bottom: 10%;
	}
}

/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSmartphones (portrait) ----------- */

@media only screen
and (min-width: 481px)
and (max-width: 767px){
	nav{
		display: none;
	}
	.main_background{
		display: none;
	}
	.mobile_background{
		width: 100%;
	}
	.mobile_homeImage{
		width: 60%;
		margin-top: 22%;
		margin-left: 3%;
	}
	.first_title{
		text-align: right;
		font-size: 25px;
		width: 70%;
		font-weight: 400;
		margin: 0;
		margin-left: 8%;
	}

	.first_subtitle{
		text-align: right;
		font-size: 15px;
		width: 55%;
		font-weight: 100;
		margin-left: 22%;
	}
	.main-buttons{
		display: none;
	}
	.homePage{
		display: none;
	}



	.Number_1{
		width: 80%;
		margin-top: 20%;

	}
	.Number_1_text{
		font-size: 12px;
		width: 100%;
		margin-top: 40%;

	}

	.Number_2{
		width: 60%;
		margin-top: 10%;
		margin-left: 30%;
	}
	.Number_2_text{
		font-size: 12px;
		width: 82%;
		margin-left: 0;
		text-align: left;
		margin-left: 15%;

	}

	.Number_3{
		width: 75%;
		margin-top: 35%;
	}
	.Number_3_text{
		font-size: 12px;
		width: 82%;
		margin-left: 0;
		margin-top: 30%;

	}
	.Number_4{
		width: 75%;
		margin-top: 30%;
		margin-left: 10%;

	}
	.Number_4_text{
		font-size: 12px;
		width: 82%;
		margin-left: 15%;
		margin-top: 55%;

	}
	.Download_text_1{
		margin: 0;
		margin-top: 30%;
		font-size: 30px;
	}
	.Download_text_2{
		font-size: 20px;
	}
	.download_buttons_img{
		width: 60%;
		margin-top: 0;
	}
	.download_buttons{
		margin-top: 10%;
		margin-bottom: 10%;
		margin-right: 10%;
	}
}







/*SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 900px) 
and (max-width : 1023px) {

}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
	.hamburder_menu{
	display: none;
	}
	.mobile_background{
		display: none;
	}
	.mobile_homeImage{
		display: none;		
	}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}