button::-moz-focus-inner 
{
  border: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

a{
	text-decoration: none;
}
.visited{
	text-decoration: none;
}
button{
	outline: 0;
	text-align: center;
	text-decoration: none;
	border-style: none;
}
.mobile_background{
	object-fit: cover;
	width: 100%; 
	position: absolute;
}
.main_background{
	object-fit: cover;
	width: 100%; 
	position: absolute;
}
.homePage{
	width: 75%;
}

/*----------------------------NAVIGATION MENU-------------------------------------------------*/
.page-navigation{
	height: 74px;
    background-color: white;
}
.page-navigation a {
	line-height: 4em;
	color: #555555;
	text-align: center;
    font-size: 17px;
    font-weight: 300;
	letter-spacing: -0.07px;
	height: 24px;
	margin-left: 25px;
}
.active_page{
	border-bottom: 1px solid #707070;
	padding-bottom: 7px;
}
.active_page:hover{

	border-bottom: 1px solid #FE862C;
}
.page-navigation  a:hover{
	color: #FE862C;
	text-decoration: none;
	opacity: 1.0;
}
.button_signin {
    background-color: transparent;
    height: 36px;
    width: 175px;
    box-shadow: 0 5px 6px #00000029, inset 0 3px 6px #00000029;
    border: 2px solid #FE862C;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0;
    color: #FE862C;
    opacity: 1;
    margin-top: 15px;
}
.button_signin:hover{
	background-color: #FE862C;
	color: white;
	border-style: none;
		box-shadow: inset 0 0px 0px #00000029,
						  0 5px 6px #00000029;
}
/*------------------------------------------MAIN PART 1---------------------------------------*/
.first_title{
	position: relative;
	font-size: 38px;
	font-weight: 600;
	text-align: left;
	letter-spacing: 0;
	color: #353535;
	width: 373px;
	margin-top: 100px;
	margin-left: 25px;
}
.first_subtitle{
	position: relative;
	font-size: 21px;
	font-weight: 300;
	text-align: left;
	letter-spacing: 0;
	color: #747474;
	width: 412px;
	margin-left: 25px;
}
.main-buttons form{
	margin-top: 25px;
	margin-bottom: 100px;
	width: 162px;
}
.button_learnmore{
	background-color: transparent;
	width: 162px;
	height: 42px;
	box-shadow: 0 5px 6px #00000029,
				inset 0 3px 6px #00000029;
	border: 2px solid #FE862C;
	border-radius: 30px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0;
	color: #FE862C;
	opacity: 1;
	margin-left: 25px;
	margin-right: 45px;
	margin-top: 30px;
	margin-bottom: 100px;
}
.button_learnmore:hover{
	background-color: #FE862C;
	color: white;
	border-style: none;
		box-shadow: inset 0 0px 0px #00000029,
						  0 5px 6px #00000029;
}
.button_signup{
	background-color: transparent;
	width: 162px;
	height: 42px;
	background: transparent linear-gradient(180deg, #78CEE2 0%, #01968B 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0 5px 6px #00000029,
			inset 0 3px 6px #00000029;
	border-radius: 30px;
	opacity: 1;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0;
	color: #FFFFFF;
	border-style: none;

}
.button_signup:hover{
	background:none;
	background-color: white;
	border: 2px solid #01968B;
	color: #01968B;
	box-shadow: inset 0 0px 0px #00000029,
				  0 5px 6px #00000029;

}

.Number_1{
	margin-top: 375px;
}
.style_of_text_numbers{
	font-size: 21px;
	font-weight: 300;
	text-align: left;
	letter-spacing: 0;
	color: #747474;
}
.Number_1_text{
	margin-top: 440px;
}
.Number_2_text{
	margin-left: 24px;
	margin-top: 0px;
}
.Number_3_text{
	margin-top: 75px;
}
.Number_4_text{
	margin-top: 135px;
}
.Number_4{
	margin-top: 50px;
}

.Download_text_1{
	font-weight: 300;
	font-size: 35px;
	letter-spacing: 0.45px;
	color: #606060;
	opacity: 1;
	margin-bottom: 0px;
	margin-top: 225px;
}
.Download_text_2{
	font-weight: 300;
	font-size: 24px;
	letter-spacing: -0.1px;
	color: #606060;
	margin-top: 0px;
}
.download_buttons{
    border: none;
    background: none;
    margin-top: 100px;
    margin-bottom: 50px;
}
.download_buttons_img{
	width: 186px;
}



/*ADD TOUR PAGE STYLES*/

.main_title_add_tour{
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 0;
	color: #545454;
	opacity: 1;
}
.box{
    margin-top: 40px;
    margin-bottom: 50px;
}
.main_box{
	width: 900px;
	height: 1300px;
	background: #FFFFFFEB 0% 0% no-repeat padding-box;
	backdrop-filter: blur(50px);
    opacity: 0.8;
    border-radius: 50px;
    position: absolute;
	font-size: 15px;
}


.box_to_the_inputs{
	margin-left: 10%;
	width: 80%;
	padding-top: 250px;
}
.description_to_the_inputs{
	text-align: left;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.12px;
	color: #646464;
}
.inputs{
	background: #FFFFFFDB;
	box-shadow: 0px 3px 6px #00000029;
	border: 0.5px solid #707070;
   -webkit-border-radius: 3px; /*/закругление углов (Google Chrome)*/
   -moz-border-radius: 3px; /*/заругление углов (FireFox)*/
   -khtml-border-radius: 3px; /*закругление углов (Safari)*/
	width: 100%;
	height: 35px;
	border-radius: 30px;
	opacity: 1.0;
	margin-bottom: 15px;
    background: #ffffff !important; 
    outline: none; 
    font-size: 17px;
    padding-left: 3%;
}
.inputs_alt{
	background: #FFFFFFDB;
	box-shadow: 0px 3px 6px #00000029;
	border: 0.5px solid #707070;
   -webkit-border-radius: 3px; /*/закругление углов (Google Chrome)*/
   -moz-border-radius: 3px; /*/заругление углов (FireFox)*/
   -khtml-border-radius: 3px; /*закругление углов (Safari)*/
	width: 30%;
	height: 35px;
	border-radius: 30px;
	opacity: 1.0;
	margin-bottom: 15px;
    background: #ffffff !important;
    outline: none;
    font-size: 17px;
    padding-left: 3%;
}



.inputs:hover{
	border-color: #FE862C;
}
.textarea_add_tour{
	background: #FFFFFFDB 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 0.5px solid #707070;
	border-radius: 31px;
    -webkit-border-radius: 31px; /*/закругление углов (Google Chrome)*/
    -moz-border-radius: 31px; /*/заругление углов (FireFox)*/
    -khtml-border-radius: 31px; /*закругление углов (Safari)*/
	height: 300px;
	width: 100%;
    background: #ffffff !important; 
    outline: none; 
    font-size: 17px;
    padding-left: 3%;
    padding-left: 3%;
    padding-top: 2%;
    padding-right: 3%;
}

.button_submit_add_tour{
	background: transparent linear-gradient(180deg, #78CEE2 0%, #01968B 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 5px 6px #00000029;
	border-radius: 30px;
	width: 162px;
	height: 36px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.13px;
	color: #FEFEFE;
	margin-left: 35%;
	margin-top: 50px;
	border-style: none;
}
.text_under_button{
	text-align: center;
	font-weight: 100;
	font-size:  14px;
	letter-spacing: 0.12px;
	color: #6D6D6D;
	margin-top: 15px;
    margin-right: 50px;
}


/*-------------------------LOGIN PAGE------------------------*/
.background_logIn{
	object-fit: cover;
	width: 100%;
	height: 100%; 
	position: absolute;
}
.test{
	position: relative;
}

.cd-switcher:after {
	display: table;
  	content: "";
  	clear: both;
}
.cd-switcher li {
	float: left;
	width: 45px;
	height: 20px;
	list-style: none;
  	text-align: center;
}
.cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #809191;
}
.cd-switcher a.selected {
  color: #FE862C;
}

.cd-form {
  padding: 1.4em;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form input {
	border-radius: 10px;
	opacity: 1;
	margin: 0;
	padding: 0;
  
}
.cd-form input.full-width {
	border: 1px solid #707070;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	display: block;
  	width: 336px;
  	height: 32px;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input.has-border:hover {
  border-color: #FE862C;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cd-form input.has-border:focus {
  border-color: #FE862C;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

.cd-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.cd-form input[type=submit] {
	width: 200px;
	height: 32px;
	background: #A1A1A1 0% 0% no-repeat padding-box;
	cursor: pointer;
	font: Light 21px Gotham Pro;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}
.cd-form .hide-password {
	margin-left: 276px;
	display: inline-block;
	right: 0;
	top: 0;
	padding: 6px 15px;
	border-left: 1px solid #d2d8d8;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	font-size: 14px;
	color: #343642;
}

.login input{
	width: 15%;
	height: 15px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid blanchedalmond;
 	border-radius: 2px;
}

.login {
	font-size: 15px;
}
