<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Add|Visiti</title>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" media="all">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/media.css" media="all">

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet">

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(document).ready(function() {
    $("#loginLink").click(function( event ){
           event.preventDefault();
           $(".overlay").fadeToggle("fast");
     });

    $(".overlayLink").click(function(event){
        event.preventDefault();
        var action = $(this).attr('data-action');

        $("#loginTarget").load(action);

        $(".overlay").fadeToggle("fast");
    });

    $(".close").click(function(){
        $(".overlay").fadeToggle("fast");
    });

    $(document).keyup(function(e) {
        if(e.keyCode == 27 && $(".overlay").css("display") != "none" ) { 
            event.preventDefault();
            $(".overlay").fadeToggle("fast");
        }
    });
});
</script>
		
	</head>
	<body>
		<picture><img src="../static/images/AddImage.png" style="object-fit: cover; width: 100%; position: absolute;"></picture>
		<!--NAVIGATION MENU-->
		
		<div class="container-fluid">
			<div class="row">
					<nav class="page-navigation">
						<div class="col-sm-2">
							<h1 style="color: orange; margin-top: 26px; margin-left: 50px;">VisitiLOGO</h1>
						</div>
							
						<div class="col-sm-10">
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-2">
									<a href="home.html">Home</a>
								</div>

								<div class="col-sm-2">
									<a href="uploadtour.html" class="active_page">Add Tour</a>
								</div>


								
								<div class="col-sm-2">
									<a href="home.html#app">App</a>
								</div>

								<div class="col-sm-3">
									<form method="post">
										<input type="button" href="login.php" class="overlayLink button_signin" data-action="login-form.html" value="Sign in">
									</form>
    						<div class="overlay" style="display: none;">
							    <div class="login-wrapper">
							        <div class="login-content" id="loginTarget">
										<h3>Sign in</h3>
										<form method="post" action="login.php">
										    <label for="username">
										        Username:
										        <input type="text" name="username" id="username" placeholder="Username must be between 8 and 20 characters" pattern="^[a-zA-Z][a-zA-Z0-9-_.]{8,20}$" required />
										    </label>
										    <label for="password">
										        Password:
										        <input type="password" name="password" id="password" placeholder="Password must contain 1 uppercase, lowercase and number" pattern="(?=^.{8,}$)((?=.*d)|(?=.*W+))(?![.n])(?=.*[A-Z])(?=.*[a-z]).*$" required />
										    </label>
										    <button type="submit">Sign in</button>
										</form>
									</div>
								</div>
						</div>


								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>

		<!--MAIN PART-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<div class="box">
						<h class="main_title_add_tour">Add new tour</h>
					</div>
				</div>
				<div class="col-sm-4"></div>
		</div>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
			
				<div class="main_box">
					<form name="test" method="post"  class="box_to_the_inputs">
						<h2 class="description_to_the_inputs">Name of the guided tour</h2>
						<input type="text" name="name" class="inputs">


						<h2 class="description_to_the_inputs">The number of free places</h2>
						<input type="text" name="name" class="inputs">


						<h2 class="description_to_the_inputs">Price in $ for one person</h2>
						<input type="text" name="name" class="inputs">


						<h2 class="description_to_the_inputs">The duration of the tour in hours</h2>
						<input type="text" name="name" class="inputs">



						<h2 class="description_to_the_inputs">The description of the tour you're offering<br>This will be the main criteria for users while choosing the tour</h2>
						<input type="textarea" name="comment" class="textarea_add_tour">


						<input type="submit" value="Submit" class="button_submit_add_tour">
                        {%csrf_token%}
						<h3 class="text_under_button">You will be able to edit this information</h3>
					</form>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>

	</div>
	</body>
	    <script>
  $(document).ready(function(){
    $("a[href*=#]").on("click", function(e){
        var anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $(anchor.attr('href')).offset().top
        }, 777);
        e.preventDefault();
        return false;
    });
});
</script>
</html>