{% block content %}
    {% for excursion in excursions %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ excursion.agent }}</a>
              <small class="text-muted">{{ excursion.created|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'excursion-detail' excursion.id %}">{{ excursion.name }}</a></h2>
            <p class="article-content">{{ excursion.comment }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}